<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIUisy_cZ_I5sWnt1AY5Y9m_3pzZX1wSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>465008209881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arviejhay.secretboard.Secretboard</string>
	<key>PROJECT_ID</key>
	<string>secretboard-b265a</string>
	<key>STORAGE_BUCKET</key>
	<string>secretboard-b265a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465008209881:ios:458cfee7aeb5af6ddcf3c8</string>
</dict>
</plist>